body
{
    font-family: 'Segoe UI', sans-serif
}

span {
    font-style: italic
}

.card {
    width: 100px;
    height: 100px;
    float: left;
    margin: 5px;
}

.cards {
    display: inline;
    width: 1000px;
}